<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Issues Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="css/style.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <main role="main" id="main"></main>

    <script id="issues-dashboard" type="text/template">
      <div class="provider_status">
      </div>
      <div class="provider_login">
      </div>
      <div class="provider_dashboard">
      </div>
    </script>


    <script id="github-status-not-logged-in" type="text/template">
      <img src="img/github-mark.png" height="36px" width="36px" alt="" />
      <div class="btn-group btn-group-sm">
        <button class="login_button btn btn-default">Log in</button>
      </div>
    </script>

    <script id="github-status-logged-in" type="text/template">
      <a href="<%= html_url %>" target="_blank"><img src="<%= avatar_url %>" height="36px" width="36px" alt="" /></a>
      <div class="btn-group btn-group-sm">
        <button class="logout_button btn btn-default">Log out, <%- name %></button>
      </div>
    </script>

    <script id="github-login-form" type="text/template">
      <form>
        <h2><img src="img/github-mark.png" height="48px" width="48px" alt="" />Sign in</h2>
        <label>Choose authentication method</label>
        <select class="form-control github_authtype">
          <option value="oauth" selected="selected">OAuth</option>
          <option value="basic">Basic</option>
        </select>
        <input class="form-control github_token" type="text" placeholder="GitHub OAuth token?" />
        <input class="form-control github_username" type="text" placeholder="GitHub username?" />
        <input class="form-control github_password" type="password" placeholder="GitHub password?" />
        <button class="login_button btn btn-primary">Login</button>
        <span class="login_failed"><span class="help-inline">failed - please retry</span></span>
        <button class="hide_button btn btn-default">Hide</button>
      </form>
    </script>


    <script id="test-status-not-logged-in" type="text/template">
      <div class="btn-group btn-group-sm">
        <button class="login_button btn btn-default">Log in</button>
      </div>
    </script>

    <script id="test-status-logged-in" type="text/template">
      Groups: <%= groups %>,
      Repos: <%= repos %> [<a href="#" class="add_repo_button">+</a>|<a href="#" class="remove_repo_button">-</a>],
      Issues: <%= issues %> [<a href="#" class="add_issue_button">+</a>|<a href="#" class="remove_issue_button">-</a>]
      <div class="btn-group btn-group-sm">
        <button class="logout_button btn btn-default">Log out</button>
      </div>
    </script>

    <script id="test-login-form" type="text/template">
      <form>
        <h2>Sign in</h2>
        <button class="login_button btn btn-primary">Login</button>
        <button class="hide_button btn btn-default">Hide</button>
      </form>
    </script>


    <script id="filter-template" type="text/template">
      <input type="radio" name="filter_assignee" id="filter_assignee_any" value="any" checked="checked" />
      <label for="filter_assignee_any">Show all</label>
      <input type="radio" name="filter_assignee" id="filter_assignee_is_me" value="is_me" />
      <label for="filter_assignee_is_me">Assigned to me</label>
      <input type="radio" name="filter_assignee" id="filter_assignee_is_other" value="is_other" />
      <label for="filter_assignee_is_other">Assigned to other</label>
      <input type="radio" name="filter_assignee" id="filter_assignee_is_unset" value="is_unset" />
      <label for="filter_assignee_is_unset">Filter unassigned</label>

      <input type="checkbox" name="filter_starred" id="filter_starred" />
      <label for="filter_starred">Filter starred</label>
    </script>


    <script id="group-header-template" type="text/template">
      <span class="actions">
        <span class="query_repos glyphicon glyphicon-refresh"></span>
        <span class="loader"><img src="img/loader.gif" width="16px" height="16px" alt="" /></span>
        <% if (matched_issue_count > 0) { %>
          <a href="https://github.com/organizations/<%= name %>/dashboard/issues" target="_blank"><span class="badge"
            <% if (matched_issue_count != open_issue_count) { %>
              title="<%= matched_issue_count %> of <%= open_issue_count %>"
            <% } %>
          ><%= matched_issue_count %></span></a>
        <% } %>
        <% if (matched_issue_count == null && open_issue_count > 0) { %>
          <a href="https://github.com/organizations/<%= name %>/dashboard/issues" target="_blank"><span class="badge"><%= open_issue_count %></span></a>
        <% } %>
      </span>
      <img class="avatar" src="<%= avatar_url %>" height="36px" width="36px" alt="" />
      <a href="https://github.com/<%= name %>" target="_blank"><%- name %></a>
      <% if (starred_repos.length > 0) { %>
        <span class="glyphicon glyphicon-star"></span>
      <% } %>
      <div class="clearfix"></div>
    </script>

    <script id="repo-header-template" type="text/template">
      <span class="actions">
        <span class="query_issues glyphicon glyphicon-refresh"></span>
        <span class="loader"><img src="img/loader.gif" width="16px" height="16px" alt="" /></span>
        <% if (matched_issue_count > 0) { %>
          <a href="<%= open_issues_url %>" target="_blank"><span class="badge badge-queried"
            <% if (matched_issue_count != open_issue_count) { %>
              title="<%= matched_issue_count %> of <%= open_issue_count %>"
            <% } %>
          ><%= matched_issue_count %></span></a>
        <% } %>
        <% if (matched_issue_count == null && open_issue_count > 0) { %>
          <a href="<%= open_issues_url %>" target="_blank"><span class="badge"><%= open_issue_count %></span></a>
        <% } %>
      </span>
      <span class="glyphicon glyphicon-folder-close"></span><span class="glyphicon glyphicon-folder-open"></span>
      <a href="<%= repo_url %>" target="_blank"><%- name %></a>
      <% if (is_starred) { %>
        <span class="glyphicon glyphicon-star"></span>
      <% } %>
      <div class="clearfix"></div>
    </script>

    <script id="issue-template" type="text/template">
      <a href="<%= issue_url %>" target="_blank" title="<%= creator %>">#<%= number %></a>: <%- title %>
      <span class="actions">
        <% _.each(labels, function(label) { %>
          <span class="label" style="background-color: #<%= label.color %>;"><%= label.label %></span>
        <% }) %>
        <% if (assignee) { %>
          <span class="glyphicon glyphicon-user<% if (assignee_is_me) { %> glyphicon-blue<% } %>" title="<%= assignee %>"></span>
        <% } %>
        <% if (pull_request) { %>
          <a href="<%= issue_url %>" target="_blank"><span class="glyphicon glyphicon-file" title="Pull request"></span></a>
        <% } %>
      </span>
      <div class="clearfix"></div>
    </script>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json3/3.2.4/json3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>

    <script src="js/base64_encode.js"></script>
    <script src="js/issues_dashboard.js"></script>

    <script src="js/github.js"></script>
    <script src="js/github_provider.js"></script>
    <script src="js/test_provider.js"></script>

    <script src="config.js"></script>
  </body>
</html>
